<div class="main">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="#"><FONT SIZE="10" FACE="CALIBRI">Rentistan</FONT></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/profile"><FONT SIZE="5" FACE="CALIBRI">&nbsp;&nbsp;&nbsp;Post</FONT><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rent"><FONT SIZE="5" FACE="CALIBRI">&nbsp;&nbsp;Rent</FONT></a>
      </li>

        <li class="nav-item">
        <a class="nav-link" routerLink="/enquiry"><FONT SIZE="5" FACE="CALIBRI">&nbsp;&nbsp;Enquiry</FONT></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"><FONT SIZE="5" FACE="CALIBRI">&nbsp;&nbsp;About</FONT></a>
      </li>

      <li class="nav-item dropdown show">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"><FONT SIZE="5" FACE="CALIBRI">&nbsp;&nbsp;<span class="glyphicons glyphicons-user-add"></span>Login</FONT></a>
    <div class="dropdown-menu hide" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
      <a class="dropdown-item" routerLink="/Login" ><FONT SIZE="5" FACE="CALIBRI">Customer Login</FONT></a>
      <a class="dropdown-item" routerLink="/Login"><FONT SIZE="5" FACE="CALIBRI">Property Dealer Login</FONT></a>  
    </div>
  </li>

  <li class="nav-item">
        <a class="nav-link" href="/own"><FONT SIZE="5" FACE="CALIBRI">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New User</FONT></a>
      </li>

    </ul>
  </div>
</nav>

<div class="aboutus">
Rentistan is a website which can provide seamless experience to both owner and the tenant. Through this website owner can upload this house details free of cost and the tenant can find his house according to his requirement. This website also saves the users from the hassel of money transfer and it also resolves the problem of finding the desired poperty. User can transfer money to each other with the online payment provided by us. 
</div>

<p><FONT SIZE="10" FACE="CALIBRI">Developers Involved</FONT></p>

<div class="row">
  <div class="col-md-3">
    <div class="card">
      <img src="../../assets/images/1.jpg" alt="sonu" style="width:100%">
      <h1>Siddharth Bhatia </h1>
      
      <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-twitter"></i></a>   
        <a href="#"><i class="fa fa-facebook"></i></a> 
     </div>
     <p><button>Contact</button></p>
     </div>
  </div>
     
<div class="col-md-3"> 
<div class="card">
  <img src="../../assets/images/1.jpg" alt="sonu" style="width:100%">
  <h1>Sonu Patel</h1>
  
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-twitter"></i></a>   
    <a href="#"><i class="fa fa-facebook"></i></a> 
 </div>
 <p><button>Contact</button></p>
 </div>
</div>

<div class="col-md-3"> 
 <div class="card">
  <img src="../../assets/images/1.jpg" alt="sonu" style="width:100%">
  <h1>Ashish</h1>
  
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-twitter"></i></a>   
    <a href="#"><i class="fa fa-facebook"></i></a> 
 </div>
 <p><button>Contact</button></p>
 </div>
</div>

<div class="col-md-3" style="margin-bottom: 3%"> 
  <div class="card">
  <img src="../../assets/images/1.jpg" alt="sonu" style="width:100%">
  <h1>Ishpreet Singh</h1>
  
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-twitter"></i></a>   
    <a href="#"><i class="fa fa-facebook"></i></a> 
 </div>
 <p><button>Contact</button></p>
 </div>
</div>
</div>

<footer>
  <p>
    Disclaimer: Rentistan is only an intermediary offering its platform to facilitate the transactions between Seller and Customer/Buyer/User and is not and cannot be a party to or control in any manner any transactions between the Seller and the Customer/Buyer/User. All the offers and discounts on this Website have been extended by various Builder(s)/Developer(s) who have advertised their products. Rentistan is only communicating the offers and not selling or rendering any of those products or services. It neither warrants nor is it making any representations with respect to offer(s) made on the site. Rentistan shall neither be responsible nor liable to mediate or resolve any disputes or disagreements between the Customer/Buyer/User and the Seller and both Seller and Customer/Buyer/User shall settle all such disputes without involving Rnetistan in any manner.
  </p>
  <hr>
  <p>All trademarks, logos and names are properties of their respective owners. All Rights Reserved. © Copyright 2018 Rentistan</p>
  <p>Contact information: <a href="mailto:someone@example.com">
  support@gmail.com</a>.</p>
</footer>

</div> 