
<div class="form-group">
    <div class="custom-control custom-radio">
      <input id="customRadio1" name="customRadio" class="custom-control-input" checked="" type="radio">
      <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
      <input id="customRadio2" name="customRadio" class="custom-control-input" type="radio">
      <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
    </div>
    <div class="custom-control custom-radio">
      
    </div>
<router-outlet></router-outlet>