<div class="main">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="#"><FONT SIZE="10" FACE="CALIBRI">Rentistan</FONT></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="nav nav-pills flex-column">
  <li class="nav-item dropdown show">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"><FONT SIZE="6" FACE="CALIBRI">Profile</FONT></a>
    <div class="dropdown-menu hide " x-placement="bottom-start" style="position: absolute; margin-top:55px; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform; ">
      <a class="dropdown-item" href="#">Edit Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Post Your Property</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Your Properties</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Payment History</a>
    </div>
  </li>
</ul>
  </div>
</nav>
</div>

<div class="mainprofile">
<div class="photo" style="width:20%;height:200px;border:2px solid #000; float: right; margin-top: 70px; margin-right:120px;">

  </div>
<div class="ownerinfo">
  <FONT SIZE="5" FACE="CALIBRI">Name:</FONT><br><br>
  <FONT SIZE="5" FACE="CALIBRI">Phone No:</FONT><br><br>
  <FONT SIZE="5" FACE="CALIBRI">Address:</FONT><br><br>
  <FONT SIZE="5" FACE="CALIBRI">Aadhar Card Number:</FONT><br><br>
  <FONT SIZE="5" FACE="CALIBRI">Property Address:</FONT><br><br>
  <FONT SIZE="5" FACE="CALIBRI">Rent Received:</FONT><br><br>
</div>