<div class="row">
 <div class="col-sm-5"></div>
 <div class="col-sm-2" id="asg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Admin Page</b><br>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" (click)='routey()'>
 	Verify User</button><br>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary">Check User Details</button><br>
  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary">Edit User Details</button><br><br>
</div>
 <div class="col-sm-5"></div>
</div>
<div>
	<button class="btn-primary" (click) = "adminLogout()">Logout</button>
	</div>